body {
  font-family: Arial, sans-serif;
}

.bodyEdit {
  /* Gaya untuk .bodyEdit */
}

.cv {
  /* Gaya untuk .cv */
}

.vertical {
  width: 100%;
  height: 100%;
  background: #004C79;
}

.custom-heading {
  color: red; /* Warna teks merah */
  font-size: 24px; /* Ukuran font 24px */
  font-weight: bold; /* Tebal */
}

